@import url('normalize.css');
@import url('reset.css');
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../css/fonts/notokr-regular.eot');
    src: url('../css/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/notokr-regular.woff') format('woff'),
    url('../css/fonts/notokr-regular.woff2') format('woff2');
  }
  html{
      width: 100%;
  }
  body{
      width: 100%;
      font-family: 'Noto Sans KR';
      font-size: 16px;
  }

  a{
      text-decoration: none;
  }
  li{
      list-style: none;
  }

  /* 헤더 시작 */
  #header{
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #3e5bc7;
  }
  .header-wrap{
      padding-bottom: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #c6cad1;
  }
  .gnb{
      width: 1278px; /* 전체 넓이는 1278px */
      margin: 0 auto;
      margin-top: 58px;
      display: flex;
      justify-content: space-between;
  }
  .logo img{
      width: 108px;
      height: 34px;
  }
  .user{
      display: flex;
      margin-right: 12px;
  }
  .login{
      width: 54px;
      height: 22px;
      background: #aeaeae;
      line-height: 22px;
      border-radius: 3px;
      text-align: center;
      margin-right: 7px;
  }
  .login p{
      font-size: 13px;
      color: #fff;
  }
  .register{
      width: 54px;
      height: 22px;
      background: #435fc8;
      border-radius: 3px;
      line-height: 22px;
      text-align: center;
  }
  .register p{
      font-size: 13px;
      color: #fff;
  }

  /* 메뉴 시작 */
  .menu-wrap{
    width: 1278px;
    margin: 0 auto;
  }
  .menu{
    width: 1278px;
    height: 54px;
    line-height: 54px;
    margin: 0 auto;
  }
  .menu > ul {
    
    display: flex;
    justify-content: flex-end;
  }
  .menu > ul > li:not(:nth-child(6)) {
      width: 128px;
      text-align: center;
      box-sizing: border-box;
      border-right: 1px solid #d7dbe3;
  }
  .menu > ul > li:first-child{
    box-sizing: border-box;
    border-left: 1px solid #d7dbe3;
  }
  .menu > ul > li:nth-child(6){
    box-sizing: border-box;
    border-right: 1px solid #d7dbe3;
  }
  .menu > ul > li > a {
      font-size: 17px;
      font-weight: 600;
      color: #000;
  }

  .menu-btn{
      margin: 20px 16px 0;
  }
  .menu-line{
      background: #3e5bc7;
      width: 16px;
      height: 3px;
      margin-bottom: 3px;
  }
  .menu-line:nth-child(3){
      margin-bottom: 0;
  }
/* 헤더 끝 */




/* 섹션 시작 */
section{
    width: 100%;
}
  .main-wrapper{
      height: 796px;
      position: relative;
      background: #e9ecef;
  }
  .main-section{
      width: 1278px;
      height: 293px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
  }

  /* 등록된 업체 */
  .register-company{
      width: 709px;
      height: 275px;
      background: #fff;
      box-sizing: border-box;
      border: 1px solid #dde1e9;
      margin-top: 18px;
  }

  .register-company h2{
    margin-top: 36px;
    margin-left: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .register-company span{
      font-weight: 800;
      color: #3e5bc7;
  }

  /* 등록된 업체 검색 창 */
  .company-input{
      display: flex;
      margin-left: 28px;
  }
  .company-input input{
      width: 583px;
      height: 52px;
      border: 4px solid #3e5bc7;
      box-sizing: border-box;
      padding-left: 18px;
  }
  .company-input input::placeholder{
      color: #bbbbbb;
  }
  .company-input button{
      width: 70px;
      height: 52px;
      background: #3e5bc7;
      border: none;
      cursor: pointer;
  }
  .company-input button img{
      margin-left: -3px;
  }

  .register-company p{
      margin-top: 13px;
      margin-left: 28px;
      color: #bbbbbb;
  }
  /* 등록된 업체 검색 창 끝 */

  /* 신규 등록 단가표 */
  .unit-price{
      width: 558px;
      height: 275px;
      background: #fff;
      box-sizing: border-box;
      border: 1px solid #dde1e9;
      margin-top: 18px;
  }
  .price-title{
      width: 499px;
      display: flex;
      justify-content: space-between;
      margin: 37px 0 27px 27px;
  }
  .price-title h3{
      font-size: 18px;
      font-weight: 600;
      display: flex;
  }
  .price-title-line{
      width: 4px;
      height: 16px;
      background: #3e5bc7;
      margin-right: 3px;
  }
  .unit-price-more a{
    font-size: 12px;
    font-weight: 600;
    color: #cbcfd5;
  }
  .unit-price-more img{
      vertical-align: -3px;
      margin-left: 7px;
  }
  .unit-price > ul {
      padding: 0 27px;
  }
  .unit-price > ul > li {
      border-bottom: 1px solid #c6cad1;
      padding-bottom: 5px;
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
  }
  .unit-price>ul>li a{
      display: flex;
      color: #000;
  }
  .unit-price > ul > li > a > p{
      font-size: 13px;
  }
  .certified{
      width: 27px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      background: #3e5bc7;
      border-radius: 3px;
      margin-right: 2px;
  }
  .certified p{
      font-size: 12px;
      color: #fff;
  }
  .export{
      width: 27px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      background: #70768c;
      border-radius: 3px;
      margin-right: 6px;
  }
  .export p{
      font-size: 12px;
      color: #fff;
  }
  .diller{
      width: 27px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      background: #919dc7;
      border-radius: 3px;
      margin-right: 6px;
  }
  .diller p{
      color: #fff;
      font-size: 12px;
  }
  .deputy{
      width: 55px;
      height: 16px;
      line-height: 16px;
      background: #b2b2b2;
      text-align: center;
      border-radius: 3px;
      margin-right: 8px;
  }
  .deputy p{
      font-size: 12px;
      color: #fff;
  }
  .price-company{
      margin-right: 13px;
  }
  .price-info{
      color: #939393;
  }
  .date{
      font-size: 12px;
      text-align: right;
      color: #939393;
  }
  /* 신규 등록 단가표 끝 */

  /* 공지사항 시작 */
  .notice-section{
      width: 1278px;
      margin: 0 auto;
      margin: 11px auto;
      display: flex;
      justify-content: space-between;
  }
  .notice{
      position: relative;
      width: 634px;
      height: 63px;
      overflow: hidden;
      background: #fff;
      border: 1px solid #dde1e9;
      box-sizing: border-box;
  }
  .rolling{
      position: relative;
      width: 506px;
      height: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      padding: 0 26px 0 36px;
  }
  .rolling li{
      position: relative;
      height: 61px;
      line-height: 61px;
  }
  .rolling > li > a {
      color: #000;
      font-weight: 600;
  }
  .rolling > li > a span{
      color: #939393;
  }
  .rolling > li > a > p{
      width: 506px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* 공지사항 끝 */
  
  /* 공지사항 버튼 */
  .arrow{
      position: absolute;
      width: 64px;
      height: 61px;
      top: 0;
      right: 0;
      border-left: 1px solid #c6cad1;
  }
  .up-arrow{
      width: 64px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-bottom: 1px solid #c6cad1;
      cursor: pointer;
  }
  .down-arrow{
      width: 64px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
  }
  /* 공지사항 버튼 끝 */

  /* 실시간 인기 모델 시작 */
  .hot-models{
      width: 634px;
      height: 63px;
      background: #fff;
      box-sizing: border-box;
      border: 1px solid #dde1e9;
      display: flex;
  }
  .hot-models-title{
      width: 170px;
      height: 63px;
      line-height: 63px;
      border-right: 1px solid #c6cad1;
      text-align: center;
  }
  .hot-models-title h3{
      color: #939393;
      font-size: 14px;
  }
  .model-list > ul{
    display: flex;
    margin-left: 14px;
  }
  .model-list > ul > li { 
      line-height: 63px;
      margin-right: 10px;
  }

  .model-list > ul > li > a {
      color: #3e5bc7;
      font-weight: 400;
      font-size: 14px;
  }
  /* 실시간 인기 모델 끝 */

  /* 주요모델 단가현황 시작 */
.model-condition{
    width: 1278px;
    height: 285px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #c6cad1;
}
.condition-wrap{
    width: 419px;
    height: 285px;
}
.condition-title{
    display: flex;
    margin-top: 33px;
    margin-left: 37px;
}
.condition-title .condition-line{
    width: 4px;
    height: 16px;
    background: #3e5bc7;
    margin-right: 4px;
    margin-top: 2px;
}
.condition-title h2{
    font-size: 18px;
    font-weight: 600;
}

.condition-pagination > ul{
    display: flex;
    margin-left: 95px;
    margin-top: 3px;
}

.bullet{
    width: 11px;
    height: 11px;
    background: #dee1e4;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 9px;
}
.condition-pagination .bullet.on{
    background: #3e5bc7;
}

.condition-conts{
    display: flex;
}

.iphone-XS{
    display: none;
}
.galaxy-note-s20{
    display: none;
}
.galaxy-s9{
    display: none;
}
.galaxy-s10{
    display: none;
}
.iphone-SE{
    display: none;
}


.model-img{
    margin-left: 63px;
    margin-top: 43px;
}
.model-info{
    margin-top: 124px;
    margin-left: 40px;
}
.model-name{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 12px;
}
.model-info p{
    font-size: 12px;
    color: #939393;
    margin-bottom: 10px;
}
.model-info img{
    margin-right: 5px;
}
/* 주요모델 단가현황 끝 */

/* 그래프영역 */
.model-graph-wrap{
    width: 859px;
    height: 285px;
    box-sizing: border-box;
    border-left: 1px solid #dde1e9;
    padding: 0 27px 0 44px;
}
.chart-title{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}
.chart-title h3{
    font-weight: 600;
    font-size: 18px;
}
.chart-title .chart-more a{
    font-size: 12px;
    font-weight: 600;
    color: #c6cad1;
}
.chart-more img{
    vertical-align: -3px;
    margin-left: 6px;
}
#iphone-11pro-chart{
    margin-top: 45px;
    width: 788px;
    height: 172px;
}

.iphone-XS-wrap, .galaxy-note-S20-wrap, .galaxy-S9-wrap, .galaxy-S10-wrap, .iphone-SE-wrap{
    display: none;
}
#iphone-XS-chart, #galaxy-note-S20-chart, #galaxy-S9-chart, #galaxy-S10-chart, #iphone-SE-chart{
    margin-top: 45px;
    width: 788px;
    height: 172px;
}
/* 그래프영역 끝 */

/* 배너영역 */
.main-banner{
    width: 1278px;
    height: 591px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}
/* 배너영역 끝 */

/* 하단 섹션 시작 */

.section-wrap{
    width: 1278px;
    height: auto;
    margin: 0 auto;
}
.section-title{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 34px;
}
.section-title-wrap{
    display: flex;
}
.section-line{
    width: 4px;
    height: 16px;
    background: #3e5bc7;
    margin-right: 3px;
}
.section-title h3{
    font-size: 18px;
    font-weight: 600;
}
.section-title h3>span{
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    color: #939393;
    vertical-align: 3px;
}
.section-more{
    /* margin-right: 27px; */
}
.section-more a{
    font-size: 12px;
    color: #c6cad1;
}
.section-more span{
    margin-left: 6px;
}
.section-more img{
    vertical-align: -3px;
}

.new-company a{
    color: #000;
}

.new-company > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.new-company > ul:last-child {
    margin-bottom: 50px;
}

.new-company > ul > li {
    width: 240px;
    height: 247px;
    box-sizing: border-box;
    border: 1px solid #c7cbcf;
}

.new-company-info{
    position: relative;
    height: 170px;
    box-sizing: border-box;
    border-bottom: 1px solid #c7cbcf;
}
.new-company-info.certification::after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 80px;
    height: auto;
    background: red;
    content: "인증";
    text-align: center;
    color: #fff;
    left: -24px;
    top: 10px;
    font-size: 14px;
    font-weight: 400;
    transform: rotate(-45deg);
}
.new-company-info h3{
    font-size: 16px;
    font-weight: 600;
    margin-left: 22px;
}

.new-company .blue{
    padding-top: 27px;
    color: #3e5bc7;
    margin-bottom: 6px;
}

.company-info-line{
    width: 23px;
    height: 2px;
    background: #939393;
    margin-top: 30px;
    margin-left: 22px;
    margin-bottom: 6px;
}
.company-text{
    margin-left: 20px;
    margin-right: 16px;
    font-size: 12px;
    color: #939393;
}
.new-company-name{
    height: 77px;
    margin-left: 22px;
    margin-top: 11px;
}
.new-company-name h3{
    font-size: 15px;
    font-weight: 600;
    margin: 4px 0;
}
.new-company-area{
    color: #939393;
    font-size: 12px;
}
.company-name-wrap{
    display: flex;
}
.company-name-wrap .diller{
    margin-left: 2px;
}
/* 섹션 끝 */




  /* footer */

  footer{
      height: 243px;
      background: #f7f7f7;
  }
  .foot-wrap{
      width: 1278px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
  }
  .foot-logo{
      margin-top: 144px;
  }
  .foot-down img{
      vertical-align: middle;
  }
  .foot-down a > p{
      font-size: 16px;
      font-weight: 600;
      color: #818181;
}
.foot-conts{
    margin-top: 106px;
    margin-left: 47px;
}
.foot-down{
    display: flex;
}
.foot-line{
    width: 1px;
    height: 18px;
    background: #818181;
    margin: 0 15px;
}
.foot-down img{
    margin-right: 2px;
}

.foot-info{
    margin-top: 20px;
}
.foot-info-first{
    display: flex;
    margin-bottom: 10px;
}
.foot-info-first p{
    font-size:12.5px;
    font-weight: 400;
    color: #737373;
}
.foot-info-seconds{
    display: flex;
    margin-bottom: 11px;
}
.foot-info-seconds a{
    font-size:12.5px;
    font-weight: 400;
    color: #737373;
}
.foot-info-line{
    width: 1px;
    height: 14px;
    background: #818181;
    margin: 0 10px 0;
}
.foot-copyright p{
    font-size: 12.5px;
    font-weight: 600;
    color: #000;
}


/* widget */
.widget{
    position: absolute;
    left: 443px;;
    top: 18px;
    width: 177px;
    height: 243px;
}
/* swiper */
.swiper-container {
    width: 177px;
    height: 243px;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }