@import url('normalize.css');
@import url('reset.css');
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../css/fonts/notokr-regular.eot');
    src: url('../css/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/notokr-regular.woff') format('woff'),
    url('../css/fonts/notokr-regular.woff2') format('woff2');
}


*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    font-family: 'Noto Sans KR';
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}
/* header{
    background: #fff;
} */
select{
    -moz-appearance:none; /* Firefox */ 
    -webkit-appearance:none; /* Safari and Chrome */ 
    appearance:none;
    background: url(../images/select.png)no-repeat;
    background-position: right center;
}
select::-ms-expand {
    display:none;
}
select:active,
select:visited,
select:focus{
    outline: none;
}

input:active,
input:visited,
input:focus{
    outline: none;
    border: none;
    border-radius: none;
}
textarea:active,
textarea:visited,
textarea:focus{
    outline: none;
}
.col-50p{
    width: 50%;
}
.col-20{
    width: 20%;
}
.col-25{
    width: 25%;
}
.col-30{
    width: 30%;
}
.col-40{
    width: 40%;
}
.col-45{
    width: 45%;
}
.col-50{
    width: 50%;
}
.col-70{
    width: 70%;
}
.col-80{
    width: 80%;
}
.col-100{
    width: 100%;
}
.pd--24{
    padding: 0 32px;
}
.pd--25{
    padding: 0 36px;
}
.pdud--40{
    padding: 1% 24px 6%;
}
.pd-b20{
    padding-bottom: 20px;
}
.mg-0{
    margin: 0;
}
.mg-t13{
    margin-top: .95em;
}
.mg-t20{
    margin-top: 36px;
}
.mg-t31{
    margin-top: 31px;
}
.mg-b13{
    margin-bottom: .95em;
}
.pt-11{
    font-size: .8em;
}
.pt-12{
    font-size: .87em;
}
.pt-13{
    font-size: .95em;
}
.pt-13b{
    font-size: .95em;
    font-weight: 600;
}
.pt-14{
    font-size: 1em;
}
.pt-15{
    font-size: 1.1em;
}
.pt-15b{
    font-size: 1.1em;
    font-weight: 600;
}
.pt-18b{
    font-size: 1.3em;
    font-weight: 600;
}
.pw-600{
    font-weight: 600;
}
/* header */
#layout{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    min-height: 100%;
}
.container.bg-f1{
    background: #f1f1f1;
}
.bg-f1{
    background: #f1f1f1;
}
.bg-white{
    background: #fff;
}
.header--nav > .row{
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    position: relative;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    padding: 32px 24px 20px;
}
.m-logo img{
    width: 85px;
}
.m-menu{
    width: 30px;
    height: 30px;
    background: url(../images/ico_menu.png)no-repeat #3e5bc7;
    background-size: 50%;
    background-position: center;
    border-radius: 100%;
}
.m-menu > ul {
    display: none;
}
/* section */
.main--section{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background: #f1f1f1;
    padding-bottom: 20px;
}
.content-inner{
    position: relative;
    background: #fff;
    padding-bottom: 24px;
}
/* 메인 검색영역 */
.mt{
    font-size: 15px;
    color: #303030;
    font-weight: 600;
    padding-top: 24px;
}
.mt > p > span{
    color: #3e5bc7;
    font-weight: 800;
}

.m-search {
    margin-top: 36px;
}
.m-search > .flex-box > input{
    width: 90%;
    height: 50px;
    border: 3px solid #3e5bc7;
    box-sizing: border-box;
    padding-left: 10px;
}
.m-search > .flex-box > input::placeholder{
    font-size: 15px;
    color: #bbbbbb;
}
.m-search > .flex-box > button{
    width: 10%;
    height: 50px;
    background: url(../images/ico_search.png)no-repeat #3e5bc7;
    background-position: center;
    border: none;
    margin-left: -1px;
}
.m-search > p {
    font-size: .95em;
    color: #bbbbbb;
    margin: 14px 0 0 14px;
    line-height: 20px;
}
.flex-box{
    display: flex;
    align-items: center;
}
.flex-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
/* 메인 공지사항 영역 */
.content-notice{
    /* background: #fff;
    padding: 20px 0;
    margin-top: 20px; */
}
.notice{
    width: 100%;
    height: 61px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.m-rr{
    position: relative;
    width: 90%;
    height: auto;
    word-break: break-all;
    padding: 0;
}
.m-rr li{
    position: relative;
    height: 61px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 24px;
    line-height: 18px;
}
.m-rr > li > a {
    color: #303030;
    font-weight: 500;
  }
  .m-rr > li > a span{
      color: #939393;
  }
  .m-rr > li > a > p{
    width: 90%;
    font-size: 1.238em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-rr > li > a > p:first-child{
    color: #939393;
}
.m-arrow{
    position: absolute;
    width: 10%;
    height: 61px;
    top: 0;
    right: 0px;
    border-left: 1px solid #c6cad1;
}
.m-up-arrow{
    width: 64px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #c6cad1;
    cursor: pointer;
}
.m-down-arrow{
    width: 64px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

/* 메인 단가표 영역 */
.pay-list{
    background: #fff;
    padding-bottom: 2.476em;
}
.p-title{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.p-title-l{
    display: flex;
    align-items: center;
}
.p-title-l > p{
    font-size: 1.238em;
    color: #303030;
    font-weight: 600;
}
.p-title-r > a{
    display: flex;
    align-items: center;
}
.p-title-r > a {
    color: #bbbbbb;
    font-size: .95em;
    /* font-weight: 400; */
}
.p-title-r > a >img{
    width: .95em;
    height: .95em;
    margin-left: 6px;
}
.b-tag{
    width: 4px;
    height: 18px;
    background: #3e5bc7;
    margin-right: 4px;
}

.p-list > ul > li {
    border-bottom: 1px solid #c6cad1;
    padding-bottom: 3px;
    margin-top: 18px;
}
.p-list > ul > li > a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    position: relative;
    font-size: 1.047em;
}
.p-list a > p > span{
    color: #939393;
    margin-left: 16px;
}
.p-list a > p:last-child{
    color: #939393;
}
/* 실시간 인기 검색모델 */
.pop-md{
    background: #fff;
    padding-bottom: 20px;
    padding-left: 24px;
}
.pop-md > p{
    padding-top: 20px;
    margin-bottom: 9px;
    color: #939393;
}
.m-pprr{
    height: auto;
    word-break: break-all;
    padding: 0;
}
#mpticker{
    width: 100%;
    height: 14px;
    overflow: hidden;
    position: relative;
}
#mpticker > li{
    position: relative;
    align-items: center;
    display: flex;
    line-height: 14px;
    height: auto;
}
#mpticker > li > a{
    width: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: .7em;
    color: #3e5bc7;
    font-size: 1.04em;
}
/* 메인 차트영역 */
.main-md{
    background: #fff;
}
.cd-title{
    padding-top: 27px;
}
.cd-title > h2{
    font-size: 1.238em;
    font-weight: 600;
}
.cd-conts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    padding-bottom: 42px;
}
.cd-left > img,
.cd-right > img{
    cursor: pointer;
}
.m-cd-wrap{
    display: flex;
    align-items: flex-end;
}
.m-md-info{
    margin-left: 20px;
}
.model-name{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 14px;
}
.m-md-info > p {
    font-size: .95em;
    margin-bottom: 11px;
    color: #939393;
}
.m-md-info > p > img{
    margin-right: 5px;
}
.m-md-info > p:last-child{
    margin-bottom: 0;
}
.iphone-XS, .galaxy-note-s20, .galaxy-s9, .galaxy-s10, .iphone-SE{
    display: none;
}
.md-more{
    text-align: right;
}
.md-more > a{ 
    color: #bbbbbb;
    font-size: .95em;
}
.md-more img{
    width: .95em;
    height: .95em;
    margin-left: 3px;
    vertical-align: middle;
}

.model-graph-wrap{
    background: #fff;
}
.iphone-XS-wrap, .galaxy-note-S20-wrap, .galaxy-S9-wrap, .galaxy-S10-wrap, .iphone-SE-wrap{
    display: none;
}

/* 배너영역 */
.m-banner > a > img {
    width: 100%;
}
.m-banner > a:last-child > img{
    margin-top: 8px;
}

/* 신규업체영역 */
.cp-new{
    background: #fff;
}
.p-sub > p{
    margin-top: .8em;
    color: #939393;
}

.cp-conts-wrap{
    margin-top: 38px;
}
.cp-conts-wrap > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cp-conts-wrap > ul > li {
    width: 49%;
    border: 1px solid #c7cbcf;
    box-sizing: border-box;
    margin-bottom: .5238em;
}
.cp-title-wrap{
    padding: 15px;
    border-bottom: 1px solid #c7cbcf;
}
.cp-conts-title > p{
    width: 164px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .95em;
    color: #000000;
    font-weight: 600;
}
.cp-conts-area{
    margin-top: 8px;
}
.cp-conts-area > p {
    color: #939393;
    font-size: 11px;
}

.cp-conts-info{
    width: 100%;
    padding: .925em 15px;
}
.cp-conts-info > h3{
    color: #3e5bc7;
    font-size: 1.19em;
    font-weight: 600;
    line-height: 22px;
}
.cp-conts-info > h3 > span{
    color: #000000;
}
.cp-conts-info > p {
    color: #939393;
    font-size: .92em;
    margin-top: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    height: 2.4em;
}



.m-diller{
    width: 1.9em;
    height: 16px;
    line-height: 16px;
    background: #919dc7;
    border-radius: 3px;
    margin-right: 2px;
}
.m-diller > p {
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.m-export{
    width: 1.9em;
    height: 16px;
    line-height: 16px;
    background: #70768c;
    border-radius: 3px;
    margin-right: 2px;
}
.m-export > p{
    color: #fff;
    font-size: 11px;
    text-align: center;
}
.m-certification{
    width: 1.9em;
    height: 16px;
    background: #3e5bc7;
    border-radius: 3px;
    margin-right: 2px;
    line-height: 16px;
}
.m-certification > p {
    color: #fff;
    font-size: 11px;
    text-align: center;
}
.m-deputy{
    width: 3.63em;
    height: 16px;
    line-height: 16px;
    background: #b2b2b2;
    border-radius: 3px;
    margin-right: 2px;
}
.m-deputy > p {
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.cp-conts-title{
    display: flex;
    align-items: center;
}

/* 검색 후 페이지 */
.search--section .m-search > .flex-box > input::placeholder{
    color: #000000;
}
.result{
    margin-top: 2.524em;
}
.r-title{
    margin-bottom: 1.38em;
}
.r-title > p {
    font-size: .95em;
    color: #000;
    font-weight: 600;
}

.r-conts > .col-30{ 
    width: 30%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.r-conts > .col-30 > img{
    width: 30%;
}
.r-conts > .result-line{
    width: 1px;
    height: 20px;
    background: #c6cad1;
    margin: 0 2.5%;
}

.r-info{
    text-align: left;
    margin-left: 13px;
}
.r-info > p:first-child{
    font-size: 10px;
    color: #939393;
}
.r-info > p:last-child{
    font-size: 15px;
    color: #939393;
}
.r-info > p:last-child > span {
    font-weight: 600;
    color: #3e5bc7;
    margin-right: 5px;
}

.r-to-list button{
    background: #939393;
    border-radius: 10px;
    padding: 5px 6px 5px 18px;
    border: none;
    color: #fff;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-to-list > button > img {
    width: 8%;
    margin-left: 15px;
}
.r-to-list > p  {
    margin-top: 0.59em;
    color: #939393;
    font-size: .845em;
}

/* 회원가입 페이지 영역 */
.lg-title { 
    padding-top: 1.23em;
}
.lg-title > p {
    font-size: 18px;
    font-weight: 600;
}

.lg-input{
    margin-top: 38px;
}
.lg-input input{
    width: 100%;
    border: 1px solid #dbdbdb;
    height: 45px;
    padding-left: 40px;
}
.lg-input input::placeholder{
    font-size: 14px;
}
.lg-login > input{
    background: url(../images/login/icon_user.png)no-repeat;
    background-size: 18px 18px;
    background-position: 12px center;
    margin-bottom: 10px;
}
.lg-password > input{
    background: url(../images/login/icon_password.png)no-repeat;
    background-size: 16px 18px;
    background-position: 12px center;
    margin-bottom: 11px;
}
.lg-check input {
    margin-right: 7px;
    vertical-align: -1px;
}
.lg-check > .lg-check-wrap:last-child{
    margin-left: 25px;
}

.lg-btn{
    margin-top: 33px;
}
.lg-btn-wrap > button {
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 3px;
    font-size: 16px;
}
.lg-btn > .lg-btn-wrap:nth-child(1) > button{
    background: #3e5bc7;
    color: #fff;
    margin-bottom: 7px;
}
.lg-btn > .lg-btn-wrap:nth-child(2) > button{
    background: transparent;
    border: 1px solid #878787;
    color: #878787;
    margin-bottom: 28px;
}
.lg-btn > .lg-btn-wrap img{
    width: 13px;
    margin-right: 5px;
}

.rg-section{
    padding-top: 4.6em;
}

.rg-question > p:first-child{
    font-size: 1.14em;
    font-weight: 600;
    margin-bottom: 0.605em;
    color: #303030;
}
.rg-question > p:last-child{
    font-size: 1.04em;
    font-weight: 400;
    color: #878787;
}

.rg-conts{
    margin-top: 2.615em;
    margin-bottom: 1.6em;
}
.rg-conts.flex-box{
    justify-content: space-between;
}
.rg-conts img {
    display: block;
    margin: 0 auto 1.25em;
    height: 30px;
}

.rg-li{
    width: 156px;
    height: auto;
}
.rg-li > p{
    width: 96px;
    margin:  auto;
}
.rg-line{
    width: 1px;
    height: 3em;
    background: #dde1e9;
}

.rg-btn > button{
    width: 100%;
    height: 45px;
    background: #3e5bc7;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 1.8em;
    font-size: 1.18em;
}
.rg-btn > button > span > img{
    width: 1.11em;
    vertical-align: -3px;
    margin-right: .34em;
}

.rg-others{
    padding-top: 33px;
    padding-bottom: 1.95em;
}

.others-wrap > p{
    font-size: 1.04em;
    color: #939393;
}
.others-wrap > p:last-child{
    color: #000000;
    margin-top: 9px;
}

.other-conts{
    margin-top: 2.04em;
}
.ot-wrap > p {
    font-size: 1.09em;
}
.ot-wrap > img{
    margin-right: 9px;
}
.other-center{
    margin-bottom: 1.02em;
}
.other-conts > .flex-box > p {
    margin-left: 1.02em;
    font-size: 1.1em;
    font-weight: 600;
}

.rg-banner{
    padding-bottom: 20px;
}
.rg-banner img{
    width: 100%;
    height: 100%;
}
.banner-wrap{
    margin: 20px 0 0;
}
.banner-wrap > a:not(:first-child) img{
    margin-top: 0.51em;
}

/* 게정 아이디 비밀번호 찾기 페이지 */
.fd-t > .flex-box > p {
    font-size: 18px;
    font-weight: 600;
    color: #303030;
}
.fd-t > .sub{
    margin-top: 13px;
    font-size: 1em;
    color: #939393;
    line-height: 20px;
    font-weight: 400;
}

.fd-input > p{
    font-size: 1em;
    color: #000;
    margin-bottom: 1.2857em;
}

.fd-pw > input{
    margin-bottom: 0;
}
.fd-btn{
    margin-top: 27px;
    margin-bottom: 52px;
}
.fd-send{
    padding-bottom: 28px;
    margin-bottom: 0;
}

/* 회원가입 정보입력 페이지 */
.rgi-t > .flex-box {
    padding-bottom: 1.9em;
}
.rgi-t > .flex-box > p{
    font-size: 18px;
    font-weight: 600;
}
.rgi-step.flex-box{
    padding-top: 2.66em;
    padding-bottom: 34px;
    justify-content: space-between;
}
.flex-box.step{
    align-items: flex-end;
}
.rgi-step > .m-step > img{
    width: 1.4em;
}
.step-wrap{
    margin-left: 13px;
}
.step-wrap > p{
    color: #c7c7c7;
}
.onstep > .step-wrap > p{
    color: #000;
}
.step-wrap > p:first-child{
    font-size: .95em;
    margin-bottom: .42em;
}
.step-wrap > p:last-child{
    font-size: 1.14em;
}
.rgi-cond > p {
    padding-top: 32px;
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: 600;
}
.cond-wrap{
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding: 16px 2em 0 1.02em;
}
pre{
    white-space: pre-wrap;
    font-size: .85714em;
    line-height: 20px;
}
.rgi-checkbox{
    color: #878787;
    font-size: 14px;
    margin-top: 10px;
}
.rgi-checkbox > input{
    vertical-align: -1px;
    margin-right: 5px;
}
.rgi-line{
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    margin: 3.33em 0 2.3em;
}
.rgi-line2{
    margin: 45px 0 33px;
}
.rgi-allcheck{
    margin-top: 1.26em;
}
.rgi-allcheck > input{
    color: #000;
    font-size: 14px;
    margin-right: 5px;
}
.rgi-btn{
    margin-top: 1.9em;
}
.rgi-btn > button{
    margin-bottom: 2.02em;
}
.rgi-input-wrap > .rgi-cp > input{
    background: url(../images/login/ico_company.png)no-repeat;
    background-position: 13px center;
}





/* footer */
#footer{
    min-width:320px;
    max-width: 640px;
    margin: 0 auto;
    height: auto;
    background: #fff;
    padding-bottom: 3.143em;
}

.ft-logo{
    padding-top: 3.143em;
    text-align: center;
}
.ft-download{
    margin-top: 42px;
    margin-bottom: 18px;
    justify-content: center;
}
.ft-download img{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}
.ft-download a:not(:last-child){
    margin-bottom: 12px;
}
.ft-download > a{
    color: #858585;
}
.ft-download > a > p{
    font-size: 15px;
}
.ft-line{
    width: 1px;
    height: 1.07em;
    margin: 0 1.05em;
    background: #737373;
}
.ft-conts-wrap{
    line-height: 18px;
}
.ft-conts p, .ft-conts a{
    font-size: 15px;
    color: #737373;
}
.ft-conts > p:not(:last-child) {
    margin-bottom: 8px;
}
.ft-conts.flex-box{
    margin-top: 1.9em;
}
.ft-copy > p{
    color: #000;
    margin-top: 30px;
}

.btm-menu{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 5.9em;
    margin-top: -5.9em;
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}
.btm-menu > ul{
    display: flex;
}
.btm-menu > ul > li{
    width: 20%;
    text-align: center;
    font-size: 0.95em;
}
.btm-menu > ul > li img{
    height: 25px;
    display: block;
    margin: 1.2em auto 15px;
}
.btm-menu > ul > li > a{
    color: #6b6c6f;
}
/* 회원가입 두번째페이지 */
.rgi-conts{
    padding-bottom: 16px;
}
.rgi-conts > p{
    font-size: .95em;
    padding-top: 33px;
    line-height: 24px;
    color: #939393;
}
.lg-input.rgi-input-wrap{
    margin: 0;
    margin-top: 2.4em;
}
.lg-input.rgi-input-wrap input{
    margin: 0;
}
.lg-input.rgi-input-wrap input::placeholder{
    font-size: .95em;
    color: #878787;
}
.lg-input.rgi-input-wrap > div > p{
    margin-bottom: 1.1em;
    font-size: .95em;
    font-weight: 500;
}
.rgi-cp{
    margin-top: 33px;
}
.rgi-write-section > p{
    padding-top: 33px;
    font-size: .95em;
    color: #939393;
    line-height: 24px;
}
.rgi-write-section > .rgi-input-wrap{
    margin-top: 1em;
}
.rgi-write-section .lg-password input.mg-b13{
    margin-bottom: .95em;
}
.rgi-phone{
    margin-top: 31px;
}
.rgi-phone > .flex-box > input{
    width: 90%;
    height: 45px;
    background: url(../images/login/ico_phone.png)no-repeat;
    background-size: 3%;
    background-position: 12px center;
}
.rgi-phone > .flex-box > button{
    width: 10%;
    height: 45px;
    background: #878787;
    color: #fff;
    border: none;
    font-size: .85em;
}

.rgi-any > .rgi-any-wrap > select{
    width: 100%;
    height: 45px;
    border-color: #dbdbdb;
    padding-left: 14px;
    margin-bottom: 12px;
}
.rgi-any > .rgi-any-wrap > select.mg0{
    margin: 0;
}

.rgi-pur > .flex-box{
    padding: 0 12px;
    flex-wrap: wrap;
}
.rgi-pur > .flex-box > .col-50p > input{
    width: 13px;
    height: 13px;
    border-radius: 3px;
    vertical-align: -1px;
}
.rgi-pur span{
    font-size: .95em;
    color: #848484;
    margin-left: 12px;
}
.wp-col{
    width: 50%;
}
.rgi-pur-ot input.cb{
    width: 13px;
    height: 13px;
    border-radius: 3px;
    vertical-align: -1px;
    margin-left: 12px;
}
.rgi-pur-ot span{
    font-size: .95em;
    color: #848484;
    margin-left: 12px;
    margin-right: 29px;
}
.wp-m, .wp-col{
    margin-top: 30px;
}
.rgi-pur-ot.flex-box{
    /* justify-content: space-between; */
    flex-wrap: nowrap;
}
.rgi-pur-ot input.tb{
    width: 100%;
    padding: 0;
    padding-left: 15px;
}
.rgi-pur-nt button{
    margin-top: 33px;
    margin-bottom: 40px;
    width: 100%;
    height: 45px;
    background: #3e5bc7;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 16px;
}

/* 회원기입 완료 페이지 */
.rgs-conts > p{
    font-size: .95em;
    padding-top: 33px;
    line-height: 24px;
    color: #939393;
}
.rgs-title{
    margin: 15px 0;
}
.rgs-title > p {
    margin-bottom: 1.1em;
    font-size: .95em;
    font-weight: 500;
}
.rgs-box{
    width: 100%;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
}
.rgs-box > p{
    margin-left: 11px;
    display: flex;
    align-items: center;
}
.rgs-box > p > img{
    margin-right: 11px;
}
.rgs-box > p > span{
    margin-left: 11px;
    font-weight: 600;
}
.rgs-id{
    margin-bottom: 15px;
}
.rgs-guide > h3{
    margin: 15px 0;
}
.rgs-guide > p{
    font-size: .95em;
    color: #939393;
    line-height: 24px;
}
.rgs-conts > .rgi-pur-nt > button {
    margin-top: 33px;
    margin-bottom: 17px;
}
.rgs-gd-b{
    margin-top: 18px;
}

/* 트렌드페이지 시작 */
.container.bg-f1 > .pd--24 > .flex-box > p{
    font-size: 18px;
    font-weight: 600;
}
.header--nav >.row.pd-15{
    padding: 15px 24px;
}
.top-date{
    margin-top: 45px;
    padding-bottom: 15px;
    justify-content: center;
}
.left-btn, .right-btn{
    background: #999;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.left-btn{
    padding-right: 2px;
}
.right-btn{
    padding-left: 2px;
}
.left-btn > i, .right-btn > i {
    color: #fff;
    font-size: 18px;
} 

.top-date-box{
    margin: 0 50px;
}
.top-date-box p{
    font-size: 16px;
    font-weight: 600;
}
.trend--section{
    margin-top: 20px;
    padding-bottom: 25px;
}
.search-box{
    padding-top: 1.24em;
}
.search-box > input{
    width: 85%;
    height: 45px;
    border: 3px solid #3e5bc7;
    padding-left: 5px;
}
.search-box > input::placeholder{
    font-size: 15px;
    font-weight: 400;
}
.search-box > button{
    width: 15%;
    background: #325bc7;
    height: 45px;
    border: none;
}
.t-s-check{
    padding: 0 0 0 10px;
    margin-top: .95em;
    margin-bottom: 33px;
}
.t-s-check > input{
    margin-right: 6px;
    vertical-align: -1px;
}
.t-s-check > input.r{
    margin-left: 30px;
}
.t-s-check > span{
    font-size: 1em;
    color: #878787;
}


.bd-b1{
    margin-bottom: 20px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.bd-b1 img{
    width: 1em;
    vertical-align: middle;
    margin-right: .4em;
}
.bd-b1 > .col-40 > p{
    font-size: 15px;
    color: #878787;
}
.bd-b1 > .col-40{
    width: 40%;
}
.bd-b1.mg-0{
    margin-bottom: 0;
}
.col-60{
    width: 60%;
}
.col-60 > p{
    font-size: 15px;
    font-weight: 600;
}

.trend-item{
    background: #3e5bc7;
    width: 50%;
    height: 50px;
    padding: 3px;
    margin-left: 10px;
    position: relative;
    margin-top: 20px;
}
.md-name{
    font-size: .95em;
    color: #fff;
    line-height: 18px;
    word-spacing: -3px;
    margin-top: 5px;
    margin-left: 5px;
}
.t-close{
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #3e5bc7;
    text-align: center;
    line-height: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.t-close > img{
    display: block;
    margin: 5px auto 5px 5px;
    width: .8em;
}

.t-item-wrap{
    flex-wrap: wrap;
    margin-top: 17px;
    margin-bottom: 45px;
    margin-left: 10px;
}
.t-item-option{
    width: 147px;
    height: 30px;
    background: #acacac;
    border-radius: 3px;
    line-height: 30px;
    color: #fff;
    font-size: .95em;
    text-align: center;
    margin-right: 5px;
}
.t-item-option > p > span > img {
    width: .8em;
    margin-left: 10px;
    cursor: pointer;
}
.t-item-t{
    padding-top: 25px;
}
.t-item-t > .main{
    font-size: 18px;
    font-weight: 600;
}
.t-item-t > .sub{
    margin: 15px 0;
    font-size: .95em;
    color: #939393;
}

.line{
    background: #dbdbdb;
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
}
.t-check.flex-box{
    flex-wrap: wrap;
}
.t-c{
    margin-right: 45px;
    margin-bottom: 30px;
}
.t-c > input{
    margin-right: 6px;
    vertical-align: -1px;
}

.more-btn{
    margin-top: 40px;
    text-align: center;
}
.more-btn button{
    border: none;
    background: #dbdbdb;
    color: #303030;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    height: 45px;
}
.t-chart > #chartdiv{
    height: 222px;
}

.md-slide{
    margin-top: 20px;
    justify-content: center;
}
.md-slide > p{
    font-size: 16px;
    font-weight: 600;
    color: #3e5bc7;
    white-space: nowrap;
}
.md-slide > .prev-md,
.md-slide > .next-md{
    color: #848484;
}
.md-slide > i{
    font-size: 18px;
    color: #fff;
    background: #999;
    border-radius: 100%;
    text-align: center;
    margin: 0 60px;
    cursor: pointer;
}
.md-slide > i.fa-chevron-left{
    padding: 2px 6px 2px 4px;
}
.md-slide > i.fa-chevron-right{
    padding: 2px 4px 2px 6px;
}

.ov-h{
    overflow: hidden;
}
.md-list {
    margin-top: 36px;
}
.md-list > ul {
    text-align: center;
    border-top: 1px solid #878787;
    border-bottom: 1px solid #878787;
}
.md-list > ul > li{
    height: 36px;
    border-bottom: 1px solid #878787;
}
.md-list > ul > li:last-child{
    border: none;
}
.md-list > ul > li p{
    font-size: .95em;
    color: #939393;
}
.md-list > ul > li.md-list-fx{
    border-bottom: 2px solid #878787;
}
.md-list > ul > li.md-list-fx p{
    font-weight: 600;
    color: #000;
}



/* 단가표 영역 */
.unit-sub > p{
    color: #bbbbbb;
    margin-top: .9em;
    margin-left: 10px;
}
.unit-area{
    margin-top: 1.8em;
}
.unit-area > .flex-box{
    flex-wrap: wrap;
    text-align: center;
}
.unit-area > ul > li{
    width: 25%;
    height: 45px;
    line-height: 45px;
    border: 1px solid #939393;
    box-sizing: border-box;
    border-right: none;
    border-bottom: none;
}
.unit-area > ul > li.active{
    background: #3e5bc7;
    color: #fff;
}
.unit-area > ul > li > img{
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
}
.unit-area > ul > li:nth-child(4n){
    border-right: 1px solid #939393;
    box-sizing: border-box;
}
.unit-area > ul > li:nth-child(n+13):nth-child(-n+18){
    border-bottom: 1px solid #939393;
    box-sizing: border-box;
}
.unit-area > ul > li:nth-child(n+17):nth-child(-n+18){
    border-top: none;
}
.unit-area > ul > li:last-child{
    border: none;
    border-left: 1px solid #939393;
}

.unit-list{
    padding-top: 27px;
}
.unit-list > p{
    font-size: .95em;
    margin-bottom: 20px;
}
.unit-list > p > span#ct{
    color: #3e5bc7;
    font-weight: 600;
}
.unit-list > ul > li:not(:last-child){
    margin-bottom: 30px;
}
.unit-list > ul > li > .row{
    border: 1px solid #c9c9c9;
}
.unit-list .col-100.flex-side.pd--25{
    border-bottom: 1px solid #c9c9c9;
}
.m-c-top{
    padding: 11px 0;
}
.m-c-top > .c-name{
    font-size: .95em;
    font-weight: 600;
}
.m-c-top > img{
    width: 18px;
    height: 18px;
    margin-left: 4px;
}
.c-right > .c-area{ 
    font-size: 11px;
    color: #939393;
}
.c-right > img{
    width: 23px;
    height: 23px;
    margin-left: 9px;
}

.m-c-mid{
    padding: 16px 25px 20px;
    /* border-bottom: 1px solid #c9c9c9; */
}
.m-c-mid > .c-title{
    font-size: .95em;
    font-weight: 600;
}
.m-c-mid > .c-title > .c-em{
    color: #3e5bc7;
}
.c-sub{
    width: 90%;
    margin-top: 7px;
    color: #939393;
    font-size: .85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-c-btm button{
    width: 100%;
    border: none;
    color: #fff;
    background: #c9c9c9;
    height: 35px;
    font-weight: 600;
    font-size: .95em;
}
.pd-b30{
    padding-bottom: 30px;
}
.unit--section > .search-box > input::placeholder{
    font-size: .9em;
}

.cp-check-box{
    flex-wrap: wrap;
    margin-top: 1em;
}
.cp-check-box > .col-25{
    margin-bottom: 4.5%;
}
.cp-check-box > .col-25 > input{
    margin-right: 6px;
}
.compare--section{
    margin-top: 3.2%;
    position: relative;
}
.pc-pd{
    padding-top: 4.6%;
}
.pc-checkbox{
    margin-top: 3.05%;
}
.pc-checkbox > .flex-box > span{
    color: #999999;
    margin-left: 4.8%;
}
.compare--section > .comp-check{
    padding-bottom: 6.8%;
}
.pc--slide{
    width: 30px;
    height: 30px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    background: url(../images/ico_down_arrow.png)no-repeat #fff;
    background-position: center 10px;
    border-radius: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}
.pc--slide.pc--slide-up{
    background: url(../images/icon/ico_up_arrow.png)no-repeat #dedede;
    background-size: 18px 11px;
    background-position: center 9px;
    border: 1px solid #dedede;
}
.pc--option{
    margin-top: 5%;
    margin-bottom: 4%;
}
.pc--option button{
    padding: 5px;
    background: #999999;
    border-radius: 3px;
    color: #fff;
    border: none;
}
.pc--option button img{
    width: 9px;
    height: 9px;
}
/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    background: #fff;
}
.pc-md-item{
    padding: 3.5em 2.5em 1em;
}
.sr-t{
    padding-top: 4%;
}
.sr-t > .number{
    font-weight: 600;
    color: #3e5bc7;
}
.pc-md-name, .pt-md-price{
    font-weight: 600;
}
.price-down{
    color: #034ea2;
}
.price-up{
    color: #ff0000;
}
.pc--list{
    border-top: 1px solid #c7cbcf;
}
.pc--list > ul > li {
    margin-top: 3.4%;
    padding-bottom: 1.18%;
    border-bottom: 1px solid #c7cbcf;
}
.pc--list > ul > li img{
    width: .95em;
    margin-right: 1.8%;
}
.pc--list .cp-name{
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #939393;
}

.rating{
    background: #bfbfbf;
    border-radius: 3px;
    padding: 1.5% 5%;
    margin-right: 4.2%;
}
.rating > p{
    color: #fff;
    font-size: .7em;
}
.pc--list .col-20 > p{
    font-size: .7em;
}
.pc--swiper .swiper-button-next,
.pc--swiper .swiper-button-prev{
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    background: #999;
    border-radius: 100%;
    color: #fff;
}
.pc--swiper .swiper-button-next{
    right: 0;
    top: 62%;
}
.pc--swiper .swiper-button-prev{
    left: 0;
    top: 62%;
}
.pc--swiper .swiper-button-next::after{
    content: "";
}
.pc--swiper .swiper-button-prev::after{
    content: "";
}
.bug-fix{
    background: #f1f1f1;
    width: 100%;
    height: .5em;
    margin-top: 3.2%;
}
.my-fix{
    background: #f1f1f1;
    width: 100%;
    height: 20px;
}
.pc-md-item.pd-t18{
    padding-top: 1.3em;
}

.comp-op{
    margin-top: 4%;
    padding-bottom: 7%;
    display: none;
}
.comp-select select{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    color: #878787;
    font-size: 1em;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
}
.comp-select button{
    width: 15%;
    height: 45px;
    border: none;
    background: #878787;
    color: #fff;
}
.comp-pd-i > p{
    margin-bottom: 3%;
}
.comp-sc-md > p{
    margin-top: 5%;
    margin-bottom: 3.2%;
}
.comp-sc-md select{
    margin-bottom: 1.3%;
}
.space-sc-md{
    margin-bottom: 5%;
}
.space-select select{
    margin-bottom: 0;
}

.comp-check.flex-box{
    flex-wrap: wrap;
}
/* 업체상세영역 */
.cpi-line-wrap{
    padding:  5.3% 24px 3%;
}
.cpi--line{
    width: 100%;
    height: 1px;
    background: #dbdbdb;
}
.cpi--item-wrap{
    padding-bottom: 3.8%;
}
.cpi--item img{
    width: 1.4em;
    margin-right: 9%;
}
.cpi--item{
    margin-bottom: 1.7%;
}
.cpi--item > .col-20 > p{
    color: #a2a2a2;
}
.cpi--item > .col-80 > p{
    color: #696969;
}
.m-cp-info-wrap{
    padding: 4.7% 24px;
}
.m-cp-info-unit{
    padding-top: 3%;
}
.m-cp-info{
    margin-top: 3.1%;
    border: 1px solid #dbdbdb;
    padding: 3% 1.5%;
    line-height: 1.6em;
}
.m-cp-info p{
    color: #939393;
}
.m-tab{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    padding: 0 24px;
}
.m-tab > li{
    width: 32%;
}
.m-tab > li > .m-tab-box{
    background: #f1f1f1;
    width: 100%;
    height: 170px;
}
.m-tab > li > p{
    color: #696969;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.m-tab-title{
    margin-top: 4%;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-tab > li.mg-b28{
    margin-bottom: 4.5%;
}
.m-tc{
    display: none;
    background: #f9fafb;
}
.m-tc-wrap{
    padding: 3.1% 24px;
}
.m-tc.current{
    display: block;
}
.m-tc-line{
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    margin: 2.2% 0;
}
.m-tt-sub{
    line-height: 1.4em;
}
.m-tt-sub > p{
    color: #939393;
}
.m-tc-btn{
    margin: 3.4% 0 6.8%;
}
.m-tc-btn button{
    background: #bfbfbf;
    border-radius: 3px;
    padding: .5em 1em;
    color: #fff;
    border: none;
    font-size: .95em;
    margin-right: .8%;
}
.m-tc-img{
    margin-right: 1.4%;
}
.m-tc-img > img{
    width: 100%;
}
.m-tc-imgs > .flex-box {
    margin-top: 2%;
}
.m-tc-img > .flex-box{
    margin-top: 4%;
}
.m-tc-img > .flex-box > img{
    width: 1.1em;
    margin-right: 2.4%;
}
.m-tc-img a{
    width: 80%;
    text-overflow: ellipsis;
    color: #494949;
    overflow: hidden;
}
.m-tab-2{
    margin-top: 0;
    padding-top: 0;
}
.mobile-map-wrap{
    padding-top: 3%;
    padding-bottom: 4%;
}
.mobile-map{
    margin-top: 3.4%;
    width: 100%;
    height: 30em;
    text-align: center;
    line-height: 30em;
    border: 1px solid #dbdbdb;
}

/* 공지사항 / 자유게시판 영역 */
.nt-tab > ul {
    border-bottom: 1px solid #dbdbdb;
    height: 45px;
    position: relative;
}
.nt-tab > ul > li{
    width: 50%;
    text-align: center;
    position: relative;
    height: 45px;
    line-height: 45px;
}
.nt-tab > ul > li > a{
    width: 100%;
    display: block;
    color: #b8b8b8;
}
.nt-tab li.active{
    border-bottom: 3px solid #3e5bc7;
}
.nt-tab li.active > a{ 
    color: #3e5bc7;
}

/* 공지사항 아코디언 */
.m-accordion {
    width: 100%;
    max-width: 640px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.m-accordion .link {
    cursor: pointer;
    display: block;
    padding: 30px 24px;
    color: #000000;
    font-weight: 600;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.m-accordion .link::after{
    width: 93%;
    height: 1px;
    background:#dbdbdb;;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    margin: 0 auto;
}

.m-accordion li i {
    position: absolute;
    top: 40px;
    right: 24px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.m-accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.m-accordion li.open .link {
    color: #3e5bc7; 
}

.m-accordion li.open i {
    color: #3e5bc7;
}
.m-accordion li.open .w-u{
    color: #3e5bc7;
}

.m-accordion li.open i.fa-chevron-up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.if-sub {
    display: none;
    background: #f9fafb;
    font-size: 14px;
}

.if-sub a {
    text-decoration: none;
    padding-top: 3.3%;
    color: #d9d9d9;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.link > .flex-box{
    justify-content: space-between;
    width: 93%;
}
.link > .flex-box p{
    font-weight: 400;
}
.p-n{
    width: 50%;
}
.w-d{
    margin-left: 6.8%;
}
.w-u{
    color: #aeaeae;
}
.nt-title{
    width: 93%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1.7%;
}

.nt-cp-wrap{
    padding: 3.8%;
}
.nt-btn-wrap button{
    width: 5.5em;
    height: 2em;
    background: #bfbfbf;
    color: #fff;
    font-size: .9em;
    border: none;
    border-radius: 3px;
}
.nt-btn-wrap button.rv{
    margin-left: 4%;
}
.nt-atc-line{
    width: 93%;
    margin: 0 auto;
    height: 1px;
    background: #dbdbdb;
}
.nt-atc{
    margin-top: 2%;
}
.nt-atc-item > a{
    display: inline;
    color: #494949;
}
.nt-atc-item > a > span{
    color: #939393;
}
.nt-atc-item img {
    width: 1.1em;
    margin-right: 1%;
    vertical-align: -2px;
}
.nt-atc-item > a span{
    margin-left: 1%;
}
.nt-mg{
    margin-bottom: 3%;
}
.nt-pd0{
    padding-top: 0 !important;
}
.nt-cp-gree{
    margin-top: 3.3%;
    line-height: 1.6em;
    color: #939393;
}
.nt-comment{
    margin-top: 6.1%;
}
.nt-comment > input{
    width: 85%;
    height: 45px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background: #fff;
    padding-left: 10px;
}
.nt-commnet > input::placeholder{
    font-size: .95em;
    color: #878787;
}
.nt-comment > button{
    width: 15%;
    height: 45px;
    border: none;
    background: #878787;
    color: #fff;
    font-size: .95em;
}
.nt-cm-list{
    padding-bottom:3.2%;
}
.nt-cm-list > ul > li {
    margin-top: 3.4%;
}
.nt-cm-wrap .day{
    font-weight: 400;
    margin-left: 1%;
    color: #939393;
}
.nt-cm-wrap > .cm{
    margin-top: 1.7%;
}
.nt-wrap.flex-side.flex-base{
    align-items: baseline;
}
.nt-wrap > button{
    background: #bfbfbf;
    border: none;
    color: #fff;
    font-size: .95em;
    padding-top: .8%;
    padding-bottom: .8%;
    border-radius: 3px;
}
.nt-btm-btn{
    width: 49%;
    margin: 6% 0;
}
.nt-btm-btn button{
    border-radius: 0;
    color: #FFF;
}
.nt-btm-btn.nt-btn-b button{
    background: #3e5bc7;
}

.input-file [type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}
.input-file .file-label {
    width: 15%;
    height: 38px;
    line-height: 38px;
    font-size: .95em;
    background-color: #878787;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
  
  /* 접근성 탭 포커스 스타일 */
.file-focus {
    outline: 1px dotted #d2310e;
}
.nt-w-user{
    margin-top: 1.2em;
}
.nt-w-mg p.pt-13b{
    margin-top: 1.8em;
    margin-bottom: .95em;
}
.nt-w input{
    width: 100%;
    height: 38px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding-left: 10px;
}
.nt-w textarea{
    width: 100%;
    height: 14.6em;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
}
.nt-w input::placeholder{
    font-size: .95em;
    color: #878787;
}
.nt-w textarea::placeholder{
    font-size: .95em;
    color: #878787;
}

.nt-img-wrap{
    margin-top: 4.5%;
}
.nt-img{
    width: 30%;
    margin-right: 1%;
    position: relative;
}
.nt-img > img{
    width: 100%;
}
.nt-close{
    position: absolute;
    top: 5px;
    right: 5px;
}
.nt-close > img{
    width: 1.3em;
}
.nt-img > .flex-box{
    margin-top: 4%;
}
.nt-img > .flex-box > img{
    width: 1.1em;
    margin-right: 3%;
}
.nt-img > .flex-box > a{
    color: #494949;
    font-size: .8em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nt-w-btn{
    width: 29%;
}
.nt-w-btn.nt-btn-b{
    width: 70%;
}
.nt-w-btn button{
    border-radius: 0;
    color: #fff;
    font-size: 1.1em;
}
.nt-w-btn.nt-btn-b button{
    background: #3e5bc7;
}
.nt-w-btm{
    padding-bottom: 5%;
}

/* 마이페이지 영역 */
.mp-t-area > .pt-15{
    color: #a2a2a2;
}
.mp-t-area > .flex-box{
    margin-top: .9em;
}
.mp-t-area > .flex-box .pt-14{
    color: #a2a2a2;
    margin-left: .3em;
}
.my-menu{
    display: flex;
    padding: 9.3% 24px 0;
    text-align: center;
    position: relative;
}
.my-menu::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #dbdbdb;
    width: 100%;
    height: 1px;

}
.my-menu > li{
    width: 20%;
    padding: 1em 0;
    position: relative;
}
.my-menu > li > a{
    font-size: .95em;
    color: #696969;
}
.my-menu > li.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3e5bc7;
    width: 100%;
    height: 4px;
}
.my-menu > li.active > a{
    color: #3e5bc7;
}
.my-menu > li > a > img{
    height: 2.14em;
    margin: 0 auto 1em;
    display: block;
}

.my-pg > .pt-15b{
    margin: 2.5em 0 0;
}
.my-pg .pt-13{
    margin: 1.8em 0 1.1em;
}
.my-pg input[type=text],
.my-pg input[type=password],
.my-pg select{
    width: 100%;
    height: 45px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding-left: 10px;
}
.my-pg input::placeholder{
    font-size: .95em;
    color: #878787;
}
.my-id input::placeholder, .my-name input::placeholder{
    color: #000;
}
.my-pw input{
    padding-left: 45px !important;
    background: url(../images/login/ico_password.png)no-repeat #fff;
    background-position: 12px center;
}
.my-pw-1{
    margin-bottom: .95em;
}
.my-ph input{
    padding-left: 45px !important;
    background: url(../images/login/ico_phone.png)no-repeat #fff;
    background-position: 15px center;
}
.my-ph button{
    width: 15%;
    height: 45px;
    background: #878787;
    color: #fff;
    font-size: .95em;
    border: none;
}
.my-phn{
    margin-bottom: .95em;
}
.ot-s-1, .ot-s-2{
    margin-bottom: .95em;
}
.my-usd-ck-wrap{
    flex-wrap: wrap;
}
.my-usd-ck-wrap input[type=checkbox]{
    margin-right: .9em;
    vertical-align: -2px;
}
.my-usd-ck-wrap > .col-30{
    margin-bottom: 1.5em;
}
.my-usd-ck-wrap > .col-50.lc{
    margin-bottom: 1em;
}
.my-btn-wrap{
    margin-top: 3em;
    padding-bottom: 1.8em;
}
.my-with{
    width: 34%;
}
.my-with button{
    width: 100%;
    height: 45px;
    background: #d0d0d0;
    border: none;
    color: #fff;
    font-size: .95em;
}
.my-suc{
    width: 65%;
}
.my-suc button{
    width: 100%;
    height: 45px;
    background: #3e5bc7;
    color: #fff;
    border: none;
    font-size: .95em;
}

.my-w-pw input{
    background: #fff;
    padding-left: 10px !important;
}
.my-with-g > ul{
    color: #878787;
    line-height: 1.6em;
}
.sub-g{
    margin-left: 1em;
}
.my-with-ck input{
    margin-right: 6px;
    vertical-align: -1px;
}
.my-with-ck span{
    color: #878787;
}
.ws-conts{
    padding-bottom: 1.1em;
    line-height: 1.6em;
}
.ws-btn-wrap{
    margin-top: 4em;
}
.ws-btn-wrap .my-suc{
    width: 100%;
}
.ws-btn-wrap button{
    width: 100%;
}
.my-with-if{
    color: #878787;
}
.my-with-if .ws-id{
    margin-top: 1.4em;
}
.c-g{
    color: #a2a2a2;
    margin-bottom: 10px;
}
.cp-name > span.pt-15{
    color: #a2a2a2;
    margin-left: 5px;
    font-weight: lighter;
}
.mp--name{
    padding-bottom: 3.4%;
}

.mp-title{
    padding-top: 5.33%;
}
.m-tab-box > input[type='checkbox']{
    margin: 10px;
}
.mp-btn-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.mp-btn-wrap button{
    background: #d0d0d0;
    color: #fff;
    height: 3em;
    border: none;
}
.mp-all button{
    width: 95%;
}
.mp-del button{
    width: 95%;
}
.mp-write button{
    background: #3e5bc7;
    width: 100%;
}

.mp-w-wrapper .mp-btn-wrap{
    margin-top: 0;
    padding-top: 10%;
}
.mp-w-title{
    padding-top: 5%;
}
.mp-w-conts > p,
.mp-w-atc > p{
    margin-top: 6%;
    margin-bottom: 2%;
}
.mp-w-section input,
.mp-w-section textarea{
    padding-left: 10px;
    border: 1px solid #dbdbdb;
    width: 100%;
}
.mp-w-section input{
    height: 3em;
}
.mp-w-section textarea{
    height: 18em;
    padding-top: 10px;
}

.mp-w-atc-itemwrap{
    display: flex;
    margin-top: 5%;
}
.mp-w-atc-wrap{
    display: flex;
    align-items: center;
}
.mp-w-atc-itemwrap > .col-30{
    margin-right: 5px;
}
.mp-item-conts > img{
    vertical-align: middle;
    width: 1em;
}
.mp-w-atc-wrap input{
    width: 85%;
    height: 3em;
}
.mp-w-atc-wrap button{
    width: 15%;
    height: 3em;
    border: none;
    background: #878787;
    color: #fff;
}
.mp-item-conts{
    margin-top: 3%;
}
.mp-item-conts > a{
    color: #494949;
}
.mp-item{
    width: 100%;
    height: 150px;
    background: url(../images/icon/t-cc-img.png)no-repeat;
    background-size: cover;
    position: relative;
}
.mp-ci{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.mp-ci img{
    width: 100%;
}
.mp-menu button{
    width: 95%;
}
.mp-create button{
    width: 100%;
    background: #3e5bc7;
}
.mp-w-btn{
    margin-top: 10%;
}



/* 웹_모바일_회사정보수정 페이지 */
.mc-section input{
    width: 100%;
    height: 3em;
    border: 1px solid #dbdbdb;
    padding-left: 10px;
    margin-top: 3%;
    text-overflow: ellipsis;
}
.mc-section input::placeholder{
    font-size: 1em;
    color: #000;
}
.mc-section textarea{
    width: 100%;
    height: 9em;
    border: 1px solid #dbdbdb;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 3%;
    resize: none;
}
.mc-section p.pt-13.m{
    margin-top: 5.4%;
}
.mc-title{
    padding-top: 5%;
    padding-bottom: 4.4%;
}
.mc-time > input::placeholder{
    color: #878787;
}

.mc-info{
    padding-top: 2em;
}
.mc-line{
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    margin: 0 0 2em;
}
.mc-i-title{
    padding-top: 4.8%;
}
.mc-i-wrap input::placeholder{
    color: #878787;
}

/* 웹_모바일_내가추가한업체 영역 */
.mc-t-wrap > .pt-13{
    margin-top: 4.75%;
}
.m-b{
    color: #3e5bc7;
    font-weight: bold;
}
.ma-list{
    margin-top: 3.5%;
}
.ma-list > li{
    border: 1px solid #c7cbcf;
    border-bottom: none;
}
.ma-list > li:not(:last-child){
    margin-bottom: 4%;
}
.ma-list .pd--14{
    padding: 14px;
}
.ma-top{
    border-bottom: 1px solid #c7cbcf;
}
.ma-top img{
    width: 1em;
    margin-left: 1%;
}
.ma-cp-t{
    width: 140px;
    margin-left: 2%;
}
.ma-rg-wrap{
    width: 63px;
}
.ma-rg-wrap > p{
    color: #939393;
}
.ma-rg-wrap > img{
    margin-left: 5%;
    /* cursor: pointer; */
}

.ma-mid{
    line-height: 1.4em;
}
.ma-mid span{
    color: #3e5bc7;
}
.ma-mid p.pt-12{
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #939393;
}

.ma-btm button{
    width: 100%;
    height: 3em;
    border: none;
    background: #c9c9c9;
    color: #fff;
    font-size: .95em;
}
/* 웹_모바일_서비스_문의하기 영역 */
.mi-width{
    width: 250px;
}
.mi-wrap button{
    border: none;
    color: #fff;
    background: #bfbfbf;
    border-radius: 2px;
    padding: .5em .8em;
}
.mi-line{
    margin-top: 3.8%;
}

@media (min-width:320px) and (max-width:530px){
    .cp-conts-info > h3{
        font-size: .9em;
    }
    .ft-line{
        margin: 0 .35em;
    }
    .ft-conts.flex-box{
        flex-wrap: wrap;
    }
    .rg-question > p:last-child{
        line-height: 20px;
    }

    .cp-conts-title{
        flex-direction: column;
        align-items: baseline;
    }
    .cp-conts-title > p{
        width: 105px;
        margin-top: 5px;
    }
    .m-search > .flex-box > button{
        width: 20%;
    }
    .btm-menu > ul > li{
        font-size: .8em;
    }
    .rgi-step > .m-step > img{
        width: 1em;
    }
    .step-wrap > p:first-child{
        font-size: .6em;
    }
    .step-wrap > p:last-child{
        font-size: .75em;
    }
    .step-wrap{
        margin-left: 6px;
    }
    .rgi-pur span{
        margin-right: 4px;
        font-size: .84em;
    }
    .rgi-pur-ot > .col-20{
        width: 30%;
    }
    .rgi-pur-ot > .col-80{
        width: 70%;
    }
    .col-60 > p{
        font-size: .75em;
    }
    .bd-b1 > .col-40 > p{
        font-size: .75em;
    }
    .md-list > ul > li p{
        font-size: .7em;
        color: #939393;
    }
    .md-name{
        font-size: .8em;
    }
    .col-25.wr-md{
        width: 35%;
    }
    .col-25.wr-re{
        width: 17%;
    }
    .top-date-box p{
        font-size: .95em;
    }
    .t-item-option{
        width: 123px;
        font-size: .7em;
    }
    .mw530-mg-t5{
        margin-top: 5px;
    }
    .search-box button > img{
        width: 23px;
    }
    .col-100.flex-side.pd--25{
        padding: 0 1px;
    }
    .col-100.c-info.m-c-mid.pd--25{
        padding: 15px;
    }
    .unit-area > ul > li > img {
        width: 24px;
        font-size: .95em;
        margin-right: 3px;
    }
    .m-c-top > .c-name{
        font-size: .8em;
    }
    .c-right > img{
        margin-left: 3px;
    }
    .unit-area > ul > li{
        font-size: .8em;
    }
    .unit-sub > p{
        font-size: .8em;
    }
    .cp-check-box > input{
        margin: 5px 6px 5px 0;
    }
    .comp-select button{
        width: 20%;
    }
    .pc-check-box.flex-side > .col-25{
        width: 35%;
    }
    .pc--list .col-40{
        width: 32%;
    }
    .pc--list .col-20{
        width: 33%;
    }
    .rating{
        padding: 1.5% 2%;
    }
    .comp-check .col-25{
        width: 34%;
    }
    .m-tab > li > p{
        width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .m-tab > li > .m-tab-box{
        height: 110px;
    }
    .mobile-map{
        height: 25em;
        line-height: 25em;
    }
}
@media(max-width:415px){
    .ft-conts.flex-box>.ft-line:nth-child(6){
        display: none;
    }
    .rgi-phone > .flex-box > input{
        background-size: 6%;
        width: 85%;
    }
    .rgi-phone > .flex-box > button{
        width: 15%;
    }
    .rgi-pur-ot > input.tb{
        width: 66%;
        height: 30px;
        border: none;
        border-bottom: 1px solid #dbdbdb;
    }
    .nt-btn-wrap button {
        width: 4.7em;
        height: 1.5em;
        background: #bfbfbf;
        color: #fff;
        font-size: .9em;
        border: none;
        border-radius: 3px;
    }
    .nt-atc-item > a > img{
        margin-right: 2%;
    }
    .w-d{
        margin-left: 4%;
    }
    .nt-cm-list > ul > li{
        margin-top: 5%;
    }
    .nt-atc{
        margin-top: 6%;
    }
    .my-usd-ck-wrap span{
        font-size: .8em;
    }
}
@media(max-width: 330px){
    .m-tab > li > .m-tab-box{
        height: 90px;
    }
    .mobile-map{
        height: 20em;
        line-height: 20em;
    }
    .nt-w input::placeholder{
        font-size: .9em;
    }
    .nt-close > img{
        width: 1em;
    }
}