@import url('normalize.css');
@import url('reset.css');
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../css/fonts/notokr-regular.eot');
    src: url('../css/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/notokr-regular.woff') format('woff'),
    url('../css/fonts/notokr-regular.woff2') format('woff2');
}


*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    font-family: 'Noto Sans KR';
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}
header{
    background: #fff;
}
select{
    -moz-appearance:none; /* Firefox */ 
    -webkit-appearance:none; /* Safari and Chrome */ 
    appearance:none;
    background: url(../images/select.png)no-repeat;
    background-position: right center;
}
select::-ms-expand {
    display:none;
}

input:active,
input:visited,
input:focus{
    outline: none;
    border: none;
    border-radius: none;
}
.col-30{
    width: 30%;
}
.pd--24{
    padding: 0 24px;
}
.pd-b20{
    padding-bottom: 20px;
}
.mg-0{
    margin: 0;
}
.mg-t13{
    margin-top: .95em;
}
.mg-t20{
    margin-top: 20px;
}
.mg-t31{
    margin-top: 31px;
}
.mg-b13{
    margin-bottom: .95em;
}
/* header */
#layout{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    min-height: 100%;
}
.container.bg-f1{
    background: #f1f1f1;
}
.bg-white{
    background: #fff;
}
.header--nav > .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    padding: 32px 24px 20px;
}
.logo img{
    width: 85px;
}
.menu{
    width: 30px;
    height: 30px;
    background: url(../images/ico_menu.png)no-repeat #3e5bc7;
    background-size: 50%;
    background-position: center;
    border-radius: 100%;
}
.menu > ul {
    display: none;
}
/* section */
.main--section{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background: #f1f1f1;
    padding-bottom: 20px;
}
.content-inner{
    position: relative;
    background: #fff;
    padding-bottom: 24px;
}
/* 메인 검색영역 */
.mt{
    font-size: 15px;
    color: #303030;
    font-weight: 600;
    padding-top: 24px;
}
.mt > p > span{
    color: #3e5bc7;
    font-weight: 800;
}

.m-search {
    margin-top: 36px;
}
.m-search > .flex-box > input{
    width: 90%;
    height: 50px;
    border: 3px solid #3e5bc7;
    box-sizing: border-box;
    padding-left: 10px;
}
.m-search > .flex-box > input::placeholder{
    font-size: 15px;
    color: #bbbbbb;
}
.m-search > .flex-box > button{
    width: 10%;
    height: 50px;
    background: url(../images/ico_search.png)no-repeat #3e5bc7;
    background-position: center;
    border: none;
    margin-left: -1px;
}
.m-search > p {
    font-size: .95em;
    color: #bbbbbb;
    margin: 14px 0 0 14px;
    line-height: 20px;
}
.flex-box{
    display: flex;
    align-items: center;
}
.text-center{
    text-align: center;
}
/* 메인 공지사항 영역 */
.content-notice{
    /* background: #fff;
    padding: 20px 0;
    margin-top: 20px; */
}
.notice{
    width: 100%;
    height: 61px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.rolling{
    position: relative;
    width: 90%;
    height: auto;
    word-break: break-all;
    padding: 0;
}
.rolling li{
    position: relative;
    height: 61px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 24px;
    line-height: 18px;
}
.rolling > li > a {
    color: #303030;
    font-weight: 500;
  }
  .rolling > li > a span{
      color: #939393;
  }
  .rolling > li > a > p{
    width: 90%;
    font-size: 1.238em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rolling > li > a > p:first-child{
    color: #939393;
}
.arrow{
    position: absolute;
    width: 10%;
    height: 61px;
    top: 0;
    right: 10px;
    border-left: 1px solid #c6cad1;
}
.up-arrow{
    width: 64px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #c6cad1;
    cursor: pointer;
}
.down-arrow{
    width: 64px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

/* 메인 단가표 영역 */
.pay-list{
    background: #fff;
    padding-bottom: 2.476em;
}
.p-title{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.p-title-l{
    display: flex;
    align-items: center;
}
.p-title-l > p{
    font-size: 1.238em;
    color: #303030;
    font-weight: 600;
}
.p-title-r > a{
    display: flex;
    align-items: center;
}
.p-title-r > a {
    color: #bbbbbb;
    font-size: .95em;
    /* font-weight: 400; */
}
.p-title-r > a >img{
    width: .95em;
    height: .95em;
    margin-left: 6px;
}
.b-tag{
    width: 4px;
    height: 18px;
    background: #3e5bc7;
    margin-right: 4px;
}

.p-list > ul > li {
    border-bottom: 1px solid #c6cad1;
    padding-bottom: 3px;
    margin-top: 18px;
}
.p-list > ul > li > a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    position: relative;
    font-size: 1.047em;
}
.p-list a > p > span{
    color: #939393;
    margin-left: 16px;
}
.p-list a > p:last-child{
    color: #939393;
}
/* 실시간 인기 검색모델 */
.pop-md{
    background: #fff;
    padding-bottom: 20px;
    padding-left: 24px;
}
.pop-md > p{
    padding-top: 20px;
    margin-bottom: 9px;
    color: #939393;
}
.poprolling{
    height: auto;
    word-break: break-all;
    padding: 0;
}
#popticker{
    width: 100%;
    height: 14px;
    overflow: hidden;
    position: relative;
}
#popticker > li{
    position: relative;
    align-items: center;
    display: flex;
    line-height: 14px;
    height: auto;
}
#popticker > li > a{
    width: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: .7em;
    color: #3e5bc7;
    font-size: 1.04em;
}
/* 메인 차트영역 */
.main-md{
    background: #fff;
}
.condition-title{
    padding-top: 27px;
}
.condition-title > h2{
    font-size: 1.238em;
    font-weight: 600;
}
.condition-conts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    padding-bottom: 42px;
}
.condition-left > img,
.condition-right > img{
    cursor: pointer;
}
.cd-wrap{
    display: flex;
    align-items: flex-end;
}
.model-info{
    margin-left: 20px;
}
.model-name{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 14px;
}
.model-info > p {
    font-size: .95em;
    margin-bottom: 11px;
    color: #939393;
}
.model-info > p > img{
    margin-right: 5px;
}
.model-info > p:last-child{
    margin-bottom: 0;
}
.iphone-XS, .galaxy-note-s20, .galaxy-s9, .galaxy-s10, .iphone-SE{
    display: none;
}
.md-more{
    text-align: right;
}
.md-more > a{ 
    color: #bbbbbb;
    font-size: .95em;
}
.md-more img{
    width: .95em;
    height: .95em;
    margin-left: 3px;
    vertical-align: middle;
}

.model-graph-wrap{
    background: #fff;
}
.iphone-XS-wrap, .galaxy-note-S20-wrap, .galaxy-S9-wrap, .galaxy-S10-wrap, .iphone-SE-wrap{
    display: none;
}

/* 배너영역 */
.m-banner > a > img {
    width: 100%;
}
.m-banner > a:last-child > img{
    margin-top: 8px;
}

/* 신규업체영역 */
.cp-new{
    background: #fff;
}
.p-sub > p{
    margin-top: .8em;
    color: #939393;
}

.cp-conts-wrap{
    margin-top: 38px;
}
.cp-conts-wrap > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cp-conts-wrap > ul > li {
    width: 49%;
    border: 1px solid #c7cbcf;
    box-sizing: border-box;
    margin-bottom: .5238em;
}
.cp-title-wrap{
    padding: 15px;
    border-bottom: 1px solid #c7cbcf;
}
.cp-conts-title > p{
    width: 164px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .95em;
    color: #000000;
    font-weight: 600;
}
.cp-conts-area{
    margin-top: 8px;
}
.cp-conts-area > p {
    color: #939393;
    font-size: 11px;
}

.cp-conts-info{
    width: 100%;
    padding: .925em 15px;
}
.cp-conts-info > h3{
    color: #3e5bc7;
    font-size: 1.19em;
    font-weight: 600;
    line-height: 22px;
}
.cp-conts-info > h3 > span{
    color: #000000;
}
.cp-conts-info > p {
    color: #939393;
    font-size: .92em;
    margin-top: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    height: 2.4em;
}



.diller{
    width: 1.9em;
    height: 16px;
    line-height: 16px;
    background: #919dc7;
    border-radius: 3px;
    margin-right: 2px;
}
.diller > p {
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.export{
    width: 1.9em;
    height: 16px;
    line-height: 16px;
    background: #70768c;
    border-radius: 3px;
    margin-right: 2px;
}
.export > p{
    color: #fff;
    font-size: 11px;
    text-align: center;
}
.certification{
    width: 1.9em;
    height: 16px;
    background: #3e5bc7;
    border-radius: 3px;
    margin-right: 2px;
    line-height: 16px;
}
.certification > p {
    color: #fff;
    font-size: 11px;
    text-align: center;
}
.deputy{
    width: 3.63em;
    height: 16px;
    line-height: 16px;
    background: #b2b2b2;
    border-radius: 3px;
    margin-right: 2px;
}
.deputy > p {
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.cp-conts-title{
    display: flex;
    align-items: center;
}

/* 검색 후 페이지 */
.search--section .m-search > .flex-box > input::placeholder{
    color: #000000;
}
.result{
    margin-top: 2.524em;
}
.r-title{
    margin-bottom: 1.38em;
}
.r-title > p {
    font-size: .95em;
    color: #000;
    font-weight: 600;
}

.r-conts > .col-30{ 
    width: 30%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.r-conts > .col-30 > img{
    width: 30%;
}
.r-conts > .result-line{
    width: 1px;
    height: 20px;
    background: #c6cad1;
    margin: 0 2.5%;
}

.r-info{
    text-align: left;
    margin-left: 13px;
}
.r-info > p:first-child{
    font-size: 10px;
    color: #939393;
}
.r-info > p:last-child{
    font-size: 15px;
    color: #939393;
}
.r-info > p:last-child > span {
    font-weight: 600;
    color: #3e5bc7;
    margin-right: 5px;
}

.r-to-list button{
    background: #939393;
    border-radius: 10px;
    padding: 5px 6px 5px 18px;
    border: none;
    color: #fff;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-to-list > button > img {
    width: 8%;
    margin-left: 15px;
}
.r-to-list > p  {
    margin-top: 0.59em;
    color: #939393;
    font-size: .845em;
}

/* 회원가입 페이지 영역 */
.login-title { 
    padding-top: 1.23em;
}
.login-title > p {
    font-size: 18px;
    font-weight: 600;
}

.lg-input{
    margin-top: 38px;
}
.lg-input input{
    width: 100%;
    border: 1px solid #dbdbdb;
    height: 45px;
    padding-left: 40px;
}
.lg-input input::placeholder{
    font-size: 14px;
}
.lg-login > input{
    background: url(../images/login/icon_user.png)no-repeat;
    background-size: 18px 18px;
    background-position: 12px center;
    margin-bottom: 10px;
}
.lg-password > input{
    background: url(../images/login/icon_password.png)no-repeat;
    background-size: 16px 18px;
    background-position: 12px center;
    margin-bottom: 11px;
}
.lg-check input {
    margin-right: 7px;
    vertical-align: -1px;
}
.lg-check > .lg-check-wrap:last-child{
    margin-left: 25px;
}

.lg-btn{
    margin-top: 33px;
}
.lg-btn-wrap > button {
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 3px;
    font-size: 16px;
}
.lg-btn > .lg-btn-wrap:nth-child(1) > button{
    background: #3e5bc7;
    color: #fff;
    margin-bottom: 7px;
}
.lg-btn > .lg-btn-wrap:nth-child(2) > button{
    background: transparent;
    border: 1px solid #878787;
    color: #878787;
    margin-bottom: 28px;
}
.lg-btn > .lg-btn-wrap img{
    width: 13px;
    margin-right: 5px;
}

.rg-section{
    padding-top: 4.6em;
}

.rg-question > p:first-child{
    font-size: 1.14em;
    font-weight: 600;
    margin-bottom: 0.605em;
    color: #303030;
}
.rg-question > p:last-child{
    font-size: 1.04em;
    font-weight: 400;
    color: #878787;
}

.rg-conts{
    margin-top: 2.615em;
    margin-bottom: 1.6em;
}
.rg-conts.flex-box{
    justify-content: space-between;
}
.rg-conts img {
    display: block;
    margin: 0 auto 1.25em;
    height: 30px;
}

.rg-li{
    width: 156px;
    height: auto;
}
.rg-li > p{
    width: 96px;
    margin:  auto;
}
.rg-line{
    width: 1px;
    height: 3em;
    background: #dde1e9;
}

.rg-btn > button{
    width: 100%;
    height: 45px;
    background: #3e5bc7;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 1.8em;
    font-size: 1.18em;
}
.rg-btn > button > span > img{
    width: 1.11em;
    vertical-align: -3px;
    margin-right: .34em;
}

.rg-others{
    padding-top: 33px;
    padding-bottom: 1.95em;
}

.others-wrap > p{
    font-size: 1.04em;
    color: #939393;
}
.others-wrap > p:last-child{
    color: #000000;
    margin-top: 9px;
}

.other-conts{
    margin-top: 2.04em;
}
.ot-wrap > p {
    font-size: 1.09em;
}
.ot-wrap > img{
    margin-right: 9px;
}
.other-center{
    margin-bottom: 1.02em;
}
.other-conts > .flex-box > p {
    margin-left: 1.02em;
    font-size: 1.1em;
    font-weight: 600;
}

.rg-banner{
    padding-bottom: 20px;
}
.rg-banner img{
    width: 100%;
    height: 100%;
}
.banner-wrap{
    margin: 20px 0 0;
}
.banner-wrap > a:not(:first-child) img{
    margin-top: 0.51em;
}

/* 게정 아이디 비밀번호 찾기 페이지 */
.fd-t > .flex-box > p {
    font-size: 18px;
    font-weight: 600;
    color: #303030;
}
.fd-t > .sub{
    margin-top: 13px;
    font-size: 1em;
    color: #939393;
    line-height: 20px;
    font-weight: 400;
}

.fd-input > p{
    font-size: 1em;
    color: #000;
    margin-bottom: 1.2857em;
}

.fd-pw > input{
    margin-bottom: 0;
}
.fd-btn{
    margin-top: 27px;
    margin-bottom: 52px;
}
.fd-send{
    padding-bottom: 28px;
    margin-bottom: 0;
}

/* 회원가입 정보입력 페이지 */
.rgi-t > .flex-box {
    padding-bottom: 1.9em;
}
.rgi-t > .flex-box > p{
    font-size: 18px;
    font-weight: 600;
}
.rgi-step.flex-box{
    padding-top: 2.66em;
    padding-bottom: 34px;
    justify-content: space-between;
}
.flex-box.step{
    align-items: flex-end;
}
.rgi-step > .step > img{
    width: 1.4em;
}
.step-wrap{
    margin-left: 13px;
}
.step-wrap > p{
    color: #c7c7c7;
}
.onstep > .step-wrap > p{
    color: #000;
}
.step-wrap > p:first-child{
    font-size: .95em;
    margin-bottom: .42em;
}
.step-wrap > p:last-child{
    font-size: 1.14em;
}
.rgi-cond > p {
    padding-top: 32px;
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: 600;
}
.cond-wrap{
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    padding: 16px 2em 0 1.02em;
}
pre{
    white-space: pre-wrap;
    font-size: .85714em;
    line-height: 20px;
}
.rgi-checkbox{
    color: #878787;
    font-size: 14px;
    margin-top: 10px;
}
.rgi-checkbox > input{
    vertical-align: -2px;
    margin-right: 5px;
}
.rgi-line{
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    margin: 3.33em 0 2.3em;
}
.rgi-line2{
    margin: 45px 0 33px;
}
.rgi-allcheck{
    margin-top: 1.26em;
}
.rgi-allcheck > input{
    color: #000;
    font-size: 14px;
    margin-right: 5px;
}
.rgi-btn{
    margin-top: 1.9em;
}
.rgi-btn > button{
    margin-bottom: 2.02em;
}
.rgi-input-wrap > .rgi-cp > input{
    background: url(../images/login/ico_company.png)no-repeat;
    background-position: 13px center;
}





/* footer */
#footer{
    min-width:320px;
    max-width: 640px;
    margin: 0 auto;
    height: auto;
    background: #fff;
    padding-bottom: 3.143em;
}

.ft-logo{
    padding-top: 3.143em;
    text-align: center;
}
.ft-download{
    margin-top: 42px;
    margin-bottom: 18px;
    justify-content: center;
}
.ft-download img{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}
.ft-download a:not(:last-child){
    margin-bottom: 12px;
}
.ft-download > a{
    color: #858585;
}
.ft-download > a > p{
    font-size: 15px;
}
.ft-line{
    width: 1px;
    height: 1.07em;
    margin: 0 1.05em;
    background: #737373;
}
.ft-conts-wrap{
    line-height: 18px;
}
.ft-conts p, .ft-conts a{
    font-size: 15px;
    color: #737373;
}
.ft-conts > p:not(:last-child) {
    margin-bottom: 8px;
}
.ft-conts.flex-box{
    margin-top: 1.9em;
}
.ft-copy > p{
    color: #000;
    margin-top: 30px;
}

.btm-menu{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 5.9em;
    margin-top: -5.9em;
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}
.btm-menu > ul{
    display: flex;
}
.btm-menu > ul > li{
    width: 20%;
    text-align: center;
    font-size: 0.95em;
}
.btm-menu > ul > li img{
    height: 25px;
    display: block;
    margin: 1.2em auto 15px;
}
.btm-menu > ul > li > a{
    color: #6b6c6f;
}
/* 회원가입 두번째페이지 */
.rgi-conts{
    padding-bottom: 16px;
}
.rgi-conts > p{
    font-size: .95em;
    padding-top: 33px;
    line-height: 24px;
    color: #939393;
}
.lg-input.rgi-input-wrap{
    margin: 0;
    margin-top: 2.4em;
}
.lg-input.rgi-input-wrap input{
    margin: 0;
}
.lg-input.rgi-input-wrap input::placeholder{
    font-size: .95em;
    color: #878787;
}
.lg-input.rgi-input-wrap > div > p{
    margin-bottom: 1.1em;
    font-size: .95em;
    font-weight: 500;
}
.rgi-cp{
    margin-top: 33px;
}
.rgi-write-section > p{
    padding-top: 33px;
    font-size: .95em;
    color: #939393;
    line-height: 24px;
}
.rgi-write-section > .rgi-input-wrap{
    margin-top: 1em;
}
.rgi-write-section .lg-password input.mg-b13{
    margin-bottom: .95em;
}
.rgi-phone{
    margin-top: 31px;
}
.rgi-phone > .flex-box > input{
    width: 90%;
    height: 45px;
    background: url(../images/login/ico_phone.png)no-repeat;
    background-size: 3%;
    background-position: 12px center;
}
.rgi-phone > .flex-box > button{
    width: 10%;
    height: 45px;
    background: #878787;
    color: #fff;
    border: none;
    font-size: .85em;
}

.rgi-any > form > select{
    width: 100%;
    height: 45px;
    border-color: #dbdbdb;
    padding-left: 14px;
    margin-bottom: 12px;
}
.rgi-any > form > select.mg0{
    margin: 0;
}

.rgi-pur > .flex-box{
    padding: 0 12px;
    flex-wrap: wrap;
}
.rgi-pur > .flex-box > .col-30 > input{
    width: 13px;
    height: 13px;
    border-radius: 3px;
    vertical-align: -2px;
}
.rgi-pur span{
    font-size: .95em;
    color: #848484;
    margin-left: 12px;
}
.wp-col{
    margin-top: 36px;
}
.rgi-pur-ot > input.cb{
    width: 13px;
    height: 13px;
    border-radius: 3px;
    vertical-align: -2px;
    margin-left: 12px;
}
.rgi-pur-ot span{
    font-size: .95em;
    color: #848484;
    margin-left: 12px;
    margin-right: 26px;
}
.rgi-pur-ot.flex-box{
    /* justify-content: space-between; */
    flex-wrap: nowrap;
}
.rgi-pur-ot > input.tb{
    width: 85%;
}
.rgi-pur-nt button{
    margin-top: 33px;
    margin-bottom: 40px;
    width: 100%;
    height: 45px;
    background: #3e5bc7;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 16px;
}

/* 회원기입 완료 페이지 */
.rgs-conts > p{
    font-size: .95em;
    padding-top: 33px;
    line-height: 24px;
    color: #939393;
}
.rgs-title{
    margin: 15px 0;
}
.rgs-title > p {
    margin-bottom: 1.1em;
    font-size: .95em;
    font-weight: 500;
}
.rgs-box{
    width: 100%;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
}
.rgs-box > p{
    margin-left: 11px;
    display: flex;
    align-items: center;
}
.rgs-box > p > img{
    margin-right: 11px;
}
.rgs-box > p > span{
    margin-left: 11px;
    font-weight: 600;
}
.rgs-id{
    margin-bottom: 15px;
}
.rgs-guide > h3{
    margin: 15px 0;
}
.rgs-guide > p{
    font-size: .95em;
    color: #939393;
    line-height: 24px;
}
.rgs-conts > .rgi-pur-nt > button {
    margin-top: 33px;
    margin-bottom: 17px;
}
.rgs-gd-b{
    margin-top: 18px;
}

@media (min-width:320px) and (max-width:530px){
    .ft-line{
        margin: 0 .35em;
    }
    .ft-conts.flex-box{
        flex-wrap: wrap;
    }
    .rg-question > p:last-child{
        line-height: 20px;
    }

    .cp-conts-title{
        flex-direction: column;
        align-items: baseline;
    }
    .cp-conts-title > p{
        width: 120px;
        margin-top: 5px;
    }
    .m-search > .flex-box > button{
        width: 20%;
    }
    .btm-menu > ul > li{
        font-size: .8em;
    }
    .rgi-step > .step > img{
        width: 1em;
    }
    .step-wrap > p:first-child{
        font-size: .6em;
    }
    .step-wrap > p:last-child{
        font-size: .75em;
    }
    .step-wrap{
        margin-left: 6px;
    }
}
@media(max-width:415px){
    .ft-conts.flex-box>.ft-line:nth-child(6){
        display: none;
    }
}